<html>
    <head>
        <meta http-equiv="refresh" content="0; url=/blog/1" />
    </head>
    <body class="bg-[#FFF5F5] text-center p-8">
        <a href="/blog/1">View Blog</a>
    </body>
</html>

<style>

@keyframes fade-in {
    from { opacity: 0; }
    90%  { opacity: 0; }
    to   { opacity: 1; }
}

a {
    animation: fade-in 3s;
}

</style>