<a 
    href="/art"
    class="grid place-items-center min-w-[160px] bg-primary-500/20 hover:bg-primary-500/50 shadow-xl shadow-primary-100 text-primary-500 font-bold text-xl"
>
<span class="flex items-center gap-2">
    More Art
    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.1928 19.1128H21.3743L21.3751 12.566L14.829 12.566L14.8298 14.7482L17.6492 14.749L11.8353 20.563L13.3781 22.1057L19.192 16.2918L19.1928 19.1128Z" fill="#E11E6B"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.9704 16.9706C28.9704 10.3428 23.5985 4.97083 16.9707 4.97083C10.3429 4.97083 4.97097 10.3428 4.97097 16.9706C4.97097 23.5983 10.3429 28.9703 16.9707 28.9703C23.5985 28.9703 28.9704 23.5983 28.9704 16.9706ZM26.7889 16.9706C26.7889 14.3666 25.7545 11.8693 23.9132 10.028C22.072 8.18674 19.5747 7.15232 16.9707 7.15232C14.3667 7.15232 11.8694 8.18674 10.0282 10.028C8.18688 11.8693 7.15246 14.3666 7.15246 16.9706C7.15246 19.5745 8.18688 22.0718 10.0282 23.9131C11.8694 25.7544 14.3667 26.7888 16.9707 26.7888C19.5747 26.7888 22.072 25.7544 23.9132 23.9131C25.7545 22.0718 26.7889 19.5745 26.7889 16.9706Z" fill="currentColor"/>
    </svg>
</span>
</a>