---
import Wrapper from "../../../components/Base/Wrapper.astro";
import BackToBlog from "../../../components/Blog/BackToBlog.astro";
import TagCloud from "../../../components/Blog/TagCloud.astro";
import H1 from "../../../components/Heading/H1.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getTags } from "../../../lib/api/blogTag";

const tags = await getTags()
---

<BaseLayout props
	title="Blog Topics"
	description="All topics and tags in the blog of Nova Alexander"
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">

			<BackToBlog />

			<H1>Blog Tags</H1>

			<TagCloud {tags} />

		</Wrapper>
	</section>

</BaseLayout>