---
import Wrapper from "../../../components/Base/Wrapper.astro";
import DateList from "../../../components/Blog/DateList.astro";
import H1 from "../../../components/Heading/H1.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getDates } from "../../../lib/api/blogDate";

const dates = await getDates()
---

<BaseLayout props
	title="Blog Post Archive"
	description="View blog posts by date in the blog of Nova Alexander"
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">
			<H1>Post Archive</H1>

            <DateList {dates} showHeading={false} />

		</Wrapper>
	</section>

</BaseLayout>