---
import type { HTMLAttributes } from "astro/types";
import TextFlow from "../TextFlow.astro";
import Wrapper from "../Wrapper.astro";

interface Props extends HTMLAttributes<'section'>  {

    /** Full screen background image path */
    bgImage : string,

    /**
     * @extends <section>
     * @prop bgImage : string
     * @prop slot
     */
    props? : true,
}

const { 
    bgImage,
} = Astro.props

---

<section style={`background-image : url('${bgImage}')`} class="bg-cover bg-fixed bg-center">
	<Wrapper width="text" padding="both" class="min-h-screen grid place-items-center">
		<TextFlow class="p-8 md:p-16 m-4 min-w-[80vw] md:min-w-[600px] bg-primary-100 bg-opacity-90 text-lg">

            <slot />
			
		</TextFlow>
	</Wrapper>
</section>
