---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'h3'> { 
    class? : string,
    /**
     * @prop class? : string
     */
    props? : true
}

const { class: className, ...rest } = Astro.props
---

<h2 class:list={['text-2xl font-bold', className]} {...rest}>
    <slot />
</h2>