---
import Button from "../components/Base/Button.astro";
import TextFlow from "../components/Base/TextFlow.astro";
import Wrapper from "../components/Base/Wrapper.astro";
import { PAGES } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout props
    lang="en"
    title="Page Not Found"
    description="This page cannot be found"
>

    <Wrapper width="max" padding="both" class="">
        
        <TextFlow class="mt-6">

            <div>
                <h1 class="text-2xl">
                    Error: Page not found
                </h1>
        
                <p class="max-w-[50ch]">
                    The page you are looking for could not be found. Here is a list of all the main pages on this site:
                </p>
            </div>

            <ul class="">
                { PAGES.map( page => (
                    <li>
                        <a href={page.path} class="hover:underline">{page.title}</a>
                    </li>
                ))}
            </ul>

            <Button href="/" variant="outline">
                Back To Home
            </Button>

        </TextFlow>

    </Wrapper>

</BaseLayout>

