---
import Wrapper from "../components/Wrapper.astro";
import { PAGES } from "../config";
import EvenColumns from "../components/EvenColumns.astro";
import TextFlow from "../components/TextFlow.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout props
    lang="en"
    title="Page Not Found"
    description="This page cannot be found"
>

    <Wrapper width="max" padding="both" class="">

        <EvenColumns class=" gap-12">
            <div class="self-center">
                <h1 class="text-2xl mb-4">Error: Page not found</h1>
        
                <p class="mb-4">The page you are looking for could not be found. Here is a list of all pages on this site:</p>
            </div>

        </EvenColumns>


        <TextFlow>
            <ul class="">
                { PAGES.map( page => (
                    <li>
                        <a href={page.path} class="hover:underline">{page.title}</a>
                    </li>
                ))}
            </ul>
        </TextFlow>


    </Wrapper>

</BaseLayout>

