---
import Wrapper from '../components/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormSubmit from '../components/Forms/FormSubmit.astro'
import NetlifyForm from '../components/Forms/NetlifyForm.astro';
import FormField from '../components/Forms/FormField.astro';
import { client } from '../lib/api/api';
import PortableTextWrapper from '../components/PortableTextWrapper.astro';

interface Contact {
    intro : any[]
}

const [data] = await client.fetch(`
    *[ _type == 'contact' ] {
        intro
	}
`)

const content: Contact = data
// const content = await getContact()
---

<BaseLayout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">
			<H1>Contact</H1>
		</Wrapper>
	</section>

	<section>
		<Wrapper width="max" padding='inline'>
			<PortableTextWrapper value={content.intro} class='max-w-[60ch] mb-12' />

			<NetlifyForm name="PinkArtWitch Contact Form" subject='PinkArtWitch website inquiry'>
				
				<FormField name="Name" type="text" required />

				<FormField name="Email" type="email" required />

				<FormField name="Message" type="textarea" required />

				<FormSubmit />

			</NetlifyForm>
		</Wrapper>
	</section>

</BaseLayout>
