---
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormSubmit from '../components/Forms/FormSubmit.astro'
import NetlifyForm from '../components/Forms/NetlifyForm.astro';
import FormField from '../components/Forms/FormField.astro';
import { client } from '../lib/api/api';
import PortableTextWrapper from '../components/Base/PortableTextWrapper.astro';
import SocialsContact from '../components/Base/SocialsContact.astro';
import Wrapper from '../components/Base/Wrapper.astro';

const [content] = await client.fetch(`
    *[ _type == 'contact' ] {
        intro
	}
`)
---

<BaseLayout props
	title="Contact"
	description="Contact information for Nova Alexander"
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">
			<H1>Contact</H1>
		</Wrapper>
	</section>

	<section>
		<Wrapper width="max" padding='inline' class="grid lg:grid-cols-[1fr_auto] items-stretch">

			<div class="mb-8">
				<PortableTextWrapper value={content.intro} class='max-w-[60ch] mb-8' />
	
				<NetlifyForm props name="PinkArtWitch Contact Form" subject='PinkArtWitch.com website inquiry'>
					
					<FormField name="Name" type="text" required />
	
					<FormField name="Email" type="email" required />
	
					<FormField name="Message" type="textarea" required />
	
					<FormSubmit />
	
				</NetlifyForm>
			</div>

			<div class="relative">
				<SocialsContact class="sticky top-28" />
			</div>

		</Wrapper>
	</section>

</BaseLayout>


<style>
img.pink-witch {
	transform: rotateY(180deg);
}
</style>