---
import Hero from '../components/Hero.astro';
import Wrapper from '../components/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import TextFlow from '../components/TextFlow.astro';
import Image from '../components/Image.astro';
import SocialMediaPost from '../components/SocialMediaPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
	lang="en"
>

	<Hero />

	<section>
		<Wrapper width='text' padding='both' class="relative">

			<H1>About PinkArtWitch</H1>

			<TextFlow>
				<p>
					Introduce yourself here. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt assumenda quam, quae adipisci tempore laboriosam, architecto provident obcaecati delectus maiores unde sint quisquam nihil optio, beatae aperiam non.
				</p>

				<p>
					Labore optio consectetur dignissimos facere voluptatibus numquam excepturi suscipit explicabo sequi. A ea facere optio delectus vero ipsum nemunde sint quisquam nihil optio, beatae aperiam non.
				</p>

				<p>
					Labore optio consectetur dignissimos facere voluptatibus numquam excepturi suscipit explicabo sequi. A ea facere optio delectus vero ipsum nemo expedita minus dolor!
				</p>
			</TextFlow>

			<Image
				src="/img/intro-dots.svg"
				width={179}
				height={176}
				alt=""
				class='absolute -z-10 -left-[90px] top-1/2 -translate-y-1/2'
			/>
		</Wrapper>
	</section>


	<section class="bg-slate-900">
		<Wrapper padding='both'>
			<H1>Blood and Thorns</H1>
	
			<p>Place holder textLorem ipsum dolor sit amet consectetur adipisicing elit. Hic officia expedita impedit odit rem accusantium vel eum modi velit ipsam ullam aliquam temporibus alias ducimus, soluta, illo itaque repellat. Magni neque delectus dolore mollitia repudiandae aspernatur praesentium reiciendis saepe deleniti id sint molestiae totam officiis alias velit nihil culpa, corporis voluptatem! Magnam, assumenda corporis maiores quaerat fugiat maxime adipisci. Neque deleniti temporibus voluptatem vero earum inventore nemo unde dolore tempore, obcaecati doloremque enim nesciunt? Nisi omnis doloremque accusamus, quam corporis, sequi reprehenderit voluptatem adipisci nemo nobis commodi. Assumenda nam ipsa quod sed molestias odio repellat enim nulla eius. Necessitatibus, dicta.</p>
		</Wrapper>
	</section>


	<section id="social-media">

		<Wrapper width="max" padding='both'>

			<H1>
				Social Media
			</H1>

			<div class="grid gap-8">

				<SocialMediaPost 
					date="Jan 23"
					tags={['wrting', 'art', 'stuff']}
					description='temporibus voluptatem vero earum inventore nemo unde dolore tempore, obcaecati doloremque enim nesciunt? Nisi omnis doloremque accusamus, quam corporis, sequi reprehenderit voluptatem '
				/>
				<SocialMediaPost 
					date="Jan 23"
					tags={['wrting', 'art', 'stuff']}
					description='temporibus voluptatem vero earum inventore nemo unde dolore tempore, obcaecati doloremque enim nesciunt? Nisi omnis doloremque accusamus, quam corporis, sequi reprehenderit voluptatem '
				/>
				<SocialMediaPost 
					date="Jan 23"
					tags={['wrting', 'art', 'stuff']}
					description='temporibus voluptatem vero earum inventore nemo unde dolore tempore, obcaecati doloremque enim nesciunt? Nisi omnis doloremque accusamus, quam corporis, sequi reprehenderit voluptatem '
				/>
				<SocialMediaPost 
					date="Jan 23"
					tags={['wrting', 'art', 'stuff']}
					description='temporibus voluptatem vero earum inventore nemo unde dolore tempore, obcaecati doloremque enim nesciunt? Nisi omnis doloremque accusamus, quam corporis, sequi reprehenderit voluptatem '
				/>
			</div>
		</Wrapper>

	</section>


	<section class="bg-[url(/img/banner-dark.webp)] bg-cover bg-bottom">
		<Wrapper padding='both' class="text-primary-100">

			<h2 class="text-3xl lg:text-4xl uppercase mb-6 lg:mb-10 text-center">
				Follow @PinkArtWitch
			</h2>

			<div class="flex items-center justify-center gap-12 mx-auto">
				<a href="https://www.instagram.com/pinkartwitch/" class="text-primary-100">
					<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.5 0H35.5C43.5 0 50 6.5 50 14.5V35.5C50 39.3456 48.4723 43.0338 45.7531 45.7531C43.0338 48.4723 39.3456 50 35.5 50H14.5C6.5 50 0 43.5 0 35.5V14.5C0 10.6544 1.52767 6.96623 4.24695 4.24695C6.96623 1.52767 10.6544 0 14.5 0ZM14 5C11.6131 5 9.32387 5.94821 7.63604 7.63604C5.94821 9.32387 5 11.6131 5 14V36C5 40.975 9.025 45 14 45H36C38.3869 45 40.6761 44.0518 42.364 42.364C44.0518 40.6761 45 38.3869 45 36V14C45 9.025 40.975 5 36 5H14ZM38.125 8.75C38.9538 8.75 39.7487 9.07924 40.3347 9.66529C40.9208 10.2513 41.25 11.0462 41.25 11.875C41.25 12.7038 40.9208 13.4987 40.3347 14.0847C39.7487 14.6708 38.9538 15 38.125 15C37.2962 15 36.5013 14.6708 35.9153 14.0847C35.3292 13.4987 35 12.7038 35 11.875C35 11.0462 35.3292 10.2513 35.9153 9.66529C36.5013 9.07924 37.2962 8.75 38.125 8.75ZM25 12.5C28.3152 12.5 31.4946 13.817 33.8388 16.1612C36.183 18.5054 37.5 21.6848 37.5 25C37.5 28.3152 36.183 31.4946 33.8388 33.8388C31.4946 36.183 28.3152 37.5 25 37.5C21.6848 37.5 18.5054 36.183 16.1612 33.8388C13.817 31.4946 12.5 28.3152 12.5 25C12.5 21.6848 13.817 18.5054 16.1612 16.1612C18.5054 13.817 21.6848 12.5 25 12.5ZM25 17.5C23.0109 17.5 21.1032 18.2902 19.6967 19.6967C18.2902 21.1032 17.5 23.0109 17.5 25C17.5 26.9891 18.2902 28.8968 19.6967 30.3033C21.1032 31.7098 23.0109 32.5 25 32.5C26.9891 32.5 28.8968 31.7098 30.3033 30.3033C31.7098 28.8968 32.5 26.9891 32.5 25C32.5 23.0109 31.7098 21.1032 30.3033 19.6967C28.8968 18.2902 26.9891 17.5 25 17.5Z" fill="currentColor"/>
					</svg>
				</a>

				<a href="https://www.deviantart.com/pinkartwitch" class="text-primary-100">
					<svg width="38" height="54" viewBox="0 0 38 54" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M35.3333 2V13.1111L24.6194 29.7778H35.3333V40.8889H17.475L10.3333 52H2V40.8889L12.7139 24.2222H2V13.1111H19.8583L27 2H35.3333Z" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>

				<a href="https://pinkartwitch.tumblr.com/" class="text-primary-100">
					<svg width="31" height="50" viewBox="0 0 31 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M30.5459 44.3271L28.36 37.8444C28.2574 37.5394 28.0912 37.2596 27.8724 37.0236C27.6535 36.7877 27.387 36.6009 27.0906 36.4756C26.7941 36.3504 26.4744 36.2896 26.1527 36.2972C25.831 36.3047 25.5145 36.3806 25.2243 36.5197C24.3467 36.858 23.4193 37.0491 22.4794 37.0855C21.9502 37.1528 21.415 37.019 20.9797 36.7106C20.5827 36.1843 20.3898 35.5321 20.4367 34.8746V24.9948H27.2921C27.8947 24.9948 28.4726 24.7554 28.8988 24.3293C29.3249 23.9031 29.5643 23.3252 29.5643 22.7225V13.8494C29.5643 13.2468 29.3249 12.6688 28.8988 12.2427C28.4726 11.8165 27.8947 11.5771 27.2921 11.5771H20.4707V2.27225C20.4707 1.66962 20.2313 1.09166 19.8052 0.665528C19.3791 0.239397 18.8011 0 18.1985 0H11.5408C10.8938 0.003331 10.2711 0.247011 9.79362 0.683715C9.31619 1.12042 9.01809 1.71898 8.95723 2.36314C8.86684 4.62996 8.11219 6.82021 6.7871 8.6616C5.46201 10.503 3.62492 11.9143 1.50423 12.7201C1.06422 12.8781 0.683669 13.168 0.414471 13.5503C0.145273 13.9325 0.000535945 14.3885 0 14.856V23.002C0 23.6047 0.239397 24.1826 0.665528 24.6088C1.09166 25.0349 1.66962 25.2743 2.27226 25.2743H4.60132V35.579C4.63937 39.4016 6.17854 43.0561 8.88679 45.7541C10.3981 47.1716 12.1751 48.2756 14.1154 49.0026C16.0556 49.7295 18.1207 50.065 20.1913 49.9896H20.5616C24.0745 49.9305 28.7827 48.5172 30.271 46.3358C30.4688 46.0454 30.5964 45.7129 30.6437 45.3647C30.691 45.0165 30.6568 44.6621 30.5437 44.3294M20.4844 45.4428C18.956 45.5644 17.4191 45.367 15.971 44.8631C14.5229 44.3593 13.1954 43.5601 12.0725 42.5162C10.223 40.6789 9.17012 38.188 9.14128 35.5812V23.0043C9.14128 22.4017 8.90189 21.8237 8.47575 21.3976C8.04962 20.9714 7.47167 20.7321 6.86903 20.7321H4.54678V16.3739C6.84147 15.2504 8.8295 13.5872 10.3405 11.527C11.8514 9.46669 12.8403 7.07075 13.2223 4.54451H15.9262V13.8494C15.9262 14.452 16.1656 15.03 16.5918 15.4561C17.0179 15.8822 17.5959 16.1216 18.1985 16.1216H25.0198V20.4503H18.1644C17.5618 20.4503 16.9838 20.6897 16.5577 21.1158C16.1315 21.542 15.8921 22.1199 15.8921 22.7225V34.9132C15.861 35.8469 16.0173 36.7773 16.3517 37.6496C16.6862 38.5218 17.1921 39.3182 17.8395 39.9917C18.4777 40.5779 19.2303 41.0258 20.0498 41.3073C20.8694 41.5889 21.7384 41.698 22.6021 41.6277C23.3251 41.6002 24.0448 41.5144 24.7539 41.3709L25.7197 44.234C24.0744 44.9845 22.2944 45.3949 20.4867 45.4405" fill="currentColor"/>
					</svg>
				</a>

				<a href="https://www.threads.net/@pinkartwitch" class="text-primary-100">
					<svg width="44" height="50" viewBox="0 0 44 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.6281 18.8C15.7844 18.2375 12.9844 16.2938 12.9844 16.2938C15.3469 12.9156 18.4625 11.6 22.7719 11.6C25.8187 11.6 28.4062 12.6219 30.2531 14.5625C32.1 16.5031 33.1531 19.2781 33.3937 22.825C34.4187 23.2562 35.3615 23.7604 36.2219 24.3375C39.6875 26.6656 41.5938 30.15 41.5938 34.1406C41.5938 42.6281 34.6375 50 22.0437 50C11.2312 50 0 43.7094 0 24.9813C0 6.35625 10.8812 0 22.0125 0C27.1562 0 39.2188 0.759374 43.75 15.7375L39.5 16.8406C35.9875 6.16875 28.6344 4.46875 21.8937 4.46875C10.7531 4.46875 4.45 11.2531 4.45 25.6875C4.45 38.6344 11.4937 45.5094 22.0437 45.5094C30.7219 45.5094 37.1906 41 37.1906 34.3969C37.1906 29.9031 33.4156 27.75 33.2219 27.75C32.4844 31.6062 30.5094 38.0938 21.8344 38.0938C16.7781 38.0938 12.4187 34.6 12.4187 30.025C12.4187 23.4938 18.6188 21.1281 23.5125 21.1281C25.3438 21.1281 27.5563 21.2531 28.7094 21.4844C28.7094 19.4937 27.0219 16.0844 22.7719 16.0844C18.8656 16.0844 17.8781 17.35 16.625 18.7969L16.6281 18.8ZM24.1125 25.5937C17.7375 25.5937 16.9125 28.3125 16.9125 30.0187C16.9125 32.7625 20.1719 33.6688 21.9125 33.6688C25.1 33.6688 28.3719 32.7875 28.8875 26.0969C27.3229 25.7318 25.7189 25.5628 24.1125 25.5937Z" fill="currentColor"/>
					</svg>
				</a>

			</div>


		</Wrapper>
	</section>

</BaseLayout>

<!-- 
<script is:inline>
	// if (window.netlifyIdentity) {
	//   window.netlifyIdentity.on("init", user => {
	// 	if (!user) {
	// 	  window.netlifyIdentity.on("login", () => {
	// 		document.location.href = "/admin/";
	// 	  });
	// 	}
	//   });
	// }
</script> -->