---
import Button from '../components/Base/Button.astro';
import PortableTextWrapper from '../components/Base/PortableTextWrapper.astro';
import Wrapper from '../components/Base/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getSupport } from '../lib/api/support';

const support = await getSupport()
---

<BaseLayout props
	title="Support"
	description="Support Nova Alexender, digital artist and writer"
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">
			<H1>Support</H1>

			
			<div class="grid gap-2 md:grid-cols-2 items-start">
				
				<div class="grid gap-6">
					<Button href="https://ko-fi.com/pinkartwitch/commissions">
						Head to Shop
					</Button>

					<PortableTextWrapper value={support.intro} />
				</div>

				<div>
					<iframe id='kofiframe' src='https://ko-fi.com/pinkartwitch/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:auto;min-width:400px;padding:4px;background:transparent;' height='712' title='pinkartwitch' class="mx-auto"></iframe>
				</div>

			</div>

		</Wrapper>
	</section>

</BaseLayout>
