---
import Wrapper from '../components/Wrapper.astro';
import H1 from '../components/Heading/H1.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout props
	title="Home"
	description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in expedita beatae perferendis quod qui perspiciatis numquam."
	lang="en"
>

	<section class="mt-28">
		<Wrapper width='max' padding='inline' class="">
			<H1>Support</H1>

			<iframe id='kofiframe' src='https://ko-fi.com/pinkartwitch/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:auto;min-width:400px;padding:4px;background:transparent;' height='712' title='pinkartwitch' class="mx-auto"></iframe>
		</Wrapper>
	</section>

</BaseLayout>
