---
interface Props {
    href : string,
    title : string,
    Icon : any
}

const { href, title, Icon } = Astro.props
---

<li>
    <a 
        href={href}
        class="flex gap-3 items-center lg:justify-end uppercase py-1 hover:underline"
    >
        <span>
            {title}
        </span>
        <Icon />
    </a>
</li>