---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {

    width? : 'max' | 'text',
    padding? : 'inline' | 'block' | 'both'
    margin? : 'block' | 'none',
    class? : string,

    /**
     * @prop width ('max' | 'text')
     * @prop padding ('inline' | 'block' | 'both')
     * @prop slot
     */
    props? : true
}

const { 
    width,
    padding,
    margin = 'block',
    class : className,
    ...rest
} = Astro.props
---

<div 
    class:list={[
        'mx-auto',
        `${margin === 'block' ? 'my-12' : 'my-0'}`,
        `${width === 'max' ? 'max-w-6xl' : ''}`,
        `${width === 'text' ? 'max-w-[70ch]' : ''}`,
        `${padding === 'inline' ? 'px-default' : ''}`,
        `${padding === 'block' ? 'py-default' : ''}`,
        `${padding === 'both' ? 'px-default py-default' : ''}`,
        className
    ]} 
    {...rest}
>

    <slot />

</div>