---
import type { HTMLAttributes } from 'astro/types'
import Wrapper from './Wrapper.astro';
import Logo from './Logo.astro';
import MobileMenuBtn from './Nav/MobileMenuBtn.astro';
import NavLinkList from './Nav/NavLinkList.astro';
import SocialLinkList from './Nav/SocialLinkList.astro';

interface Props extends HTMLAttributes<'header'> {

    variant? : 'relative' | 'sticky' | 'fixed',

    class? : string,

    /**
     * @extends <header>
     * @prop variant? : 'relative' | 'sticky' | 'fixed'
     * @prop toggleTransparencyOnScroll? : boolean,
     * @prop class? : string,
     */
    props? : true
}



const {
    variant = 'relative',
    class: className
} = Astro.props

const currentPage = Astro.url.pathname

---


{/**
 * NavBar ordering
 * 
 * Mobile
 * 1. Logo
 * 2. CTA
 * 3. MobileMenuBtn
 * 4. <nav></nav>
 * 
 * Desktop
 * 1. Logo
 * 2. <nav></nav>
 * 3. CTA
 * 
 */}


<header
    data-element="header-main"
    data-currentpage={currentPage}
    class:list={[
        'transition-all duration-200',
        `${currentPage !== '/' ? 'header-bg' : ''}`,
        `${variant === 'relative' ? 'relative' : ''}`,
        `${variant === 'sticky' ? 'sticky top-0 z-[999]' : ''}`,
        `${variant === 'fixed' ? 'fixed top-0 left-0 right-0 z-[999]' : ''}`,
        className
    ]}
>

    <Wrapper width='max' padding='inline' margin='none'>

        <div class="flex items-center gap-x-4 flex-wrap py-2">

            <div class="order-1 mr-auto">
                <Logo />
            </div>

            <div class="order-3 lg:hidden flex items-center">
                <MobileMenuBtn />
            </div>
            
            <nav class="order-4 lg:order-2 relative grid items-end w-full lg:w-auto transition-all duration-200">
                <SocialLinkList /> 
                <NavLinkList />
            </nav>


        </div>

    </Wrapper>

</header>


<style is:global>

nav {
    max-height: 0px;
    gap : 0;
}

.mobile-menu-is-open nav {
    max-height: 1000px;
    /* gap : 0.5rem; */
}

.header-bg {
    background-color: hsl( var(--primary-color) 95% / 0.8 );
    backdrop-filter: blur(12px);
}
    
</style>


<script>
// @ts-ignore
import debounce from 'lodash.debounce'


const header = document.querySelector('[data-element="header-main"]') as HTMLDivElement
const currentPage = header.dataset.currentpage

if( currentPage === '/' ) {

    const toggleHeaderBGClass = () => {
        if(screen.availWidth < 1023 ) {
            header.classList.add('header-bg')
            return
        }
        header.classList.toggle('header-bg', scrollY > 50)
    }

    toggleHeaderBGClass()

    document.addEventListener('scroll', debounce(toggleHeaderBGClass, 50) )
    window.addEventListener('resize', debounce(toggleHeaderBGClass, 50) )
}
    

</script>
    
    
