---
import Wrapper from "./Wrapper.astro";
import Button from "./Button.astro";
import HeroScrollBtns from "./Hero/HeroScrollBtns.astro";
import HeroArt from "./Hero/HeroArt.astro";
import HeroMoreArtBtn from "./Hero/HeroMoreArtBtn.astro";
import HeroWitch from "./Hero/HeroWitch.astro";
import HeroStars from "./Hero/HeroStars.astro";
import HeroStarCircle from "./Hero/HeroStarCircle.astro";

---

<section 
    id="hero" 
    data-element="hero" 
    class=" bg-[url(/img/hero-bg-desktop.webp)] bg-cover bg-bottom  text-primary-100"
>
    
    <Wrapper 
        width="max" 
        padding="inline"
        class="relative pt-32 pb-48"
    >
    
        <div class="grid gap-4 sm:text-center text-primary-500 relative z-10">
            <h1 class="text-2xl uppercase font-bold w-[65vw] sm:w-[30vw] sm:mx-auto hero-animation">
                <slot name="heroHeadline" />
            </h1>
        
            <p class="w-[65vw] sm:w-[30vw] sm:mx-auto text-lg hero-animation">
                <slot name="heroSubHeadline">
            </p>
        
            <div class="grid sm:flex gap-4 sm:w-min sm:mx-auto hero-animation">
                <Button variant="fill-primary" href="/shop">
                    Support
                    <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1358 1.89567L12 3.08273L10.8642 1.89567C9.65815 0.668837 8.03828 -0.0121522 6.35531 0.000164202C4.67235 0.0124806 3.06176 0.717112 1.87229 1.96148C0.682824 3.20585 0.0102173 4.88979 0.000115445 6.64868C-0.00998639 8.40757 0.64323 10.0998 1.81832 11.359L10.4011 20.329L12 22L13.5989 20.329L22.1817 11.359C23.3568 10.0998 24.01 8.40757 23.9999 6.64868C23.9898 4.88979 23.3172 3.20585 22.1277 1.96148C20.9382 0.717112 19.3276 0.0124806 17.6447 0.000164202C15.9617 -0.0121522 14.3418 0.668837 13.1358 1.89567ZM12 18.6564L20.5828 9.68644C21.3465 8.87323 21.7723 7.77784 21.7675 6.63837C21.7627 5.4989 21.3277 4.40746 20.5572 3.60131C19.7866 2.79516 18.7427 2.33946 17.6525 2.33328C16.5622 2.32709 15.5136 2.77092 14.7347 3.56828L13.6004 4.75533L12 6.42478L10.4011 4.75376L9.26528 3.56828V3.5667C8.48878 2.75622 7.43601 2.30131 6.33858 2.30205C5.24115 2.30279 4.18895 2.75911 3.41345 3.57064C2.63795 4.38217 2.20267 5.48242 2.20338 6.62935C2.20409 7.77629 2.64072 8.87595 3.41722 9.68644L12 18.6579V18.6564Z" fill="currentColor"/>
                    </svg>
                </Button>
                <Button variant="fill-primary" href="#social-media">
                    Social Feed
                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.92116 11.052L7.50716 12.466L11.7502 16.71L15.9932 12.467L14.5782 11.053L12.7502 12.88L12.7502 5.34301L10.7502 5.34301L10.7502 12.88L8.92116 11.052Z" fill="#F9D2E2"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.972 18.778C8.268 23.074 15.232 23.074 19.528 18.778C23.824 14.482 23.824 7.518 19.528 3.222C15.232 -1.074 8.268 -1.074 3.972 3.222C-0.323998 7.518 -0.323999 14.482 3.972 18.778ZM5.386 17.364C7.07384 19.0518 9.36304 20.0001 11.75 20.0001C14.137 20.0001 16.4262 19.0518 18.114 17.364C19.8018 15.6762 20.7501 13.387 20.7501 11C20.7501 8.61304 19.8018 6.32384 18.114 4.636C16.4262 2.94816 14.137 1.99994 11.75 1.99994C9.36304 1.99994 7.07384 2.94816 5.386 4.636C3.69816 6.32384 2.74995 8.61304 2.74995 11C2.74995 13.387 3.69816 15.6762 5.386 17.364Z" fill="currentColor"/>
                    </svg>
                </Button>
            </div>
        </div>

        <HeroWitch />

        <HeroStars />

        <HeroStarCircle />
        
    </Wrapper>
    
</section>


<div class="relative mx-auto w-fit text-primary-100 -mt-36">

    <HeroScrollBtns />

    <div 
        class="flex items-stretch gap-4 overflow-y-auto py-8 scrollbar snap-x snap-mandatory px-4"
        data-hero-art-container
    >

        <slot name="heroArt" />

        <HeroMoreArtBtn />

    </div>

</div>



<style is:global>

.hero-animation {
    animation : hero-animation 1s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes hero-animation {
    from {
        opacity: 0;
        translate: 0 20px;
    }
    to {
        opacity: 1;
        translate: 0;
    }
}

</style>


