---
import { HEADER_LOGO_DIMENSIONS, HEADER_LOGO_PATH, LOGO_NAME, SITE_FULL_NAME } from '../config';
import Image from '../components/Image.astro'

interface Props {

    class? : string,

    /**
     * none
     */
    props? : true
}

const { 
    class: className,
} = Astro.props
---

<a href="/" class="font-theme hover:underline">
    <div class:list={['flex items-center gap-2 lg:gap-4 text-xl font-semibold text-primary-500', className]}>
    
        <Image 
            src={ HEADER_LOGO_PATH } 
            alt={SITE_FULL_NAME} 
            width={HEADER_LOGO_DIMENSIONS.width} 
            height={HEADER_LOGO_DIMENSIONS.height} 
            class='lg:scale-[1.35] lg:w-[40px] lg:h-[40px]'
        />

        <span class="translate-y-[2px]">
            {LOGO_NAME}
        </span>

    </div>
</a>    

