---
import TextFlow from "./TextFlow.astro";
import {PortableText} from 'astro-portabletext'


const { value } = Astro.props
---

<div>
    <TextFlow class="w-full">
        <PortableText
            value={value}
        />
    </TextFlow>
</div>

