


<a 
    href="/blog"
    class="flex items-center gap-2 text-lg font-semibold mb-6 lg:mb-2 ml-auto hover:underline text-primary-300"
>
    <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 8L20 8M2 8L8 14M2 8L8 2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span>
        Back to blog home
    </span>                
</a>