---
import { type BlogPostDate } from "../../lib/api/blogDate"

interface Props {
    dates : BlogPostDate[]
    showHeading? : boolean
}

const { dates, showHeading = true } = Astro.props
---

<div class="pl-4 border-l border-primary-500">
    { showHeading && (
        <h2 class="text-base font-semibold mb-0">
            <a href="/blog/date" class="hover:underline">
                Post Archive
            </a>
        </h2>
    )}
    <ul>
        {
            dates.map( (date) => (
                <li>
                    <a href={'/blog/date/' + date.numeric} class="hover:underline">
                        {date.phrase}
                    </a>
                </li>
            ))
        }
    </ul>
</div>