---
import { client } from "../../lib/api/api"
import { formatSlug, formatPostDate, getImageMetaDataFromURL } from "../../lib/api/utils"
import Post, { type PostProps } from "./Post.astro"

export const blogPostData = await client.fetch(`
	*[ _type == 'blogPost'] | order(date desc)[0..4] {
        title,
		"imageURL" : image.asset->url,
		post,
		tags,
		date,
        instagramUrl,
        deviantArtUrl,
        tumblrUrl,
        threadsUrl,
	}
`)

export async function getBlogPostList(blogPostData: any) : Promise<PostProps[]> {
    const blogPostList: PostProps[] = blogPostData.map( (postData: any) => {
        const slug = formatSlug(postData)
        const formattedDate = formatPostDate(postData.date)
        const formattedTitle: string = postData.title.trim()
        const metaData = getImageMetaDataFromURL(postData.imageURL)
        return { image: metaData, slug, ...postData, date : formattedDate, title : formattedTitle}
    })	
    return blogPostList
}

const blogPostList = await getBlogPostList(blogPostData)
---

<div class="grid gap-10 ">

    {blogPostList.map( post => <Post post={post}  /> )}

</div>

