---
import { client } from "../../lib/api/api"
import { formatPost } from "../../lib/api/blog"
import Post, { type PostProps } from "./Post.astro"

export const blogPostData = await client.fetch(`
	*[ _type == 'blogPost'] | order(date desc)[0..4] {
        title,
		"imageURL" : image.asset->url,
		post,
		tags,
        "commonTags" : commonTags[]->tag,
		date,
        instagramUrl,
        deviantArtUrl,
        tumblrUrl,
        threadsUrl,
	}
`)

export async function getBlogPostList(blogPostData: any) : Promise<PostProps[]> {
    const blogPostList: PostProps[] = blogPostData.map( (postData: any) => (
        formatPost(postData)
    ))	
    return blogPostList
}

const blogPostList = await getBlogPostList(blogPostData)
---

<div class="grid gap-10 ">

    {blogPostList.map( post => <Post post={post}  /> )}

</div>

