---
import type { BlogPost } from "../../lib/api/blogPost"
import Post from "./Post.astro"

interface Props {
    posts : BlogPost[]
}

const { posts } = Astro.props
---

<div class="grid gap-10 ">

    {posts.map( post => <Post post={post}  /> )}

</div>

