---
import type { Tags } from '../../lib/api/blogTag'

interface Props {
	tags: Tags[]
}

const { tags } = Astro.props
---

<ul class=" flex items-center gap-4 flex-wrap">
    { tags.map( tag => (
        <li>
            <a 
                href={'/blog/tag/' + tag.hyphen }
                class="block px-3 py-1 text-base border border-primary-200 rounded-md hover:underline hover:border-primary-500"
            >
                #{ tag.space }
            </a>
        </li>
    ))}
</ul>