---
import { client } from "../../lib/api/api"

interface GetTagData { 
	tags : string[], 
	commonTags : string[] 
}

export async function getTagData() : Promise<GetTagData[]> {
	const tagData = await client.fetch(`
		*[ _type == 'blogPost'] {
			tags,
			"commonTags" : commonTags[]->tag,
		}
	`)
	if(!tagData) return []
	return tagData
}

export async function getTags() : Promise<string[]> {
	const tagSet  = new Set()
	const tagData = await getTagData()
	
	tagData.forEach( (post : {tags : string[], commonTags : string[]}) => {
		
		if( Array.isArray(post.tags) ) {
			post.tags.forEach( tag => tagSet.add(tag) )
		}

		if( Array.isArray(post.commonTags) ) {
			post.commonTags.forEach( tag => tagSet.add(tag)) 
		}
	} )
	
	return Array.from( tagSet ).sort() as string[]
}

const tags = await getTags()
---

<ul class=" flex items-center gap-4 flex-wrap">
    { tags.map( tag => (
        <li>
            <a 
                href={'/blog/tag/' + tag}
                class="block px-3 py-1 text-base border border-primary-200 rounded-md hover:underline hover:border-primary-500"
            >
                #{tag}
            </a>
        </li>
    ))}
</ul>