---
import { LANGUAGES } from "../../config";

const { lang } = Astro.params


---


<div class="flex items-center gap-2">
    
    <select name="langSelector" id="langSelector">
        { LANGUAGES.map( language => (
    
            <option value={language.code} selected={lang === language.code}>
                {language.full}
            </option>
    
    ))}
    </select>
</div>


<style>

select {
    border : none;
    outline : none;
    background-color : var(--contact-bar-bg-color);
    text : var(--contact-bar-text-color);
}

</style>


<script>

/**
 * @function ToggleLanguage
 * 
 * Toggles language in localstorage and then redirects to the same page but new language path
 * 
 */
document.querySelector('#langSelector')?.addEventListener('change', function (this: HTMLSelectElement) {

    if(localStorage.lang === this.value) return

    localStorage.lang = this.value

    const newLangPath = '/' + this.value + window.location.pathname.slice(3)

    window.location.href = newLangPath
})

</script>