
<a href="https://www.deviantart.com/pinkartwitch">
    <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 1V5L9.143 11H13V15H6.571L4 19H1V15L4.857 9H1V5H7.429L10 1H13Z" stroke="#E11E6B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</a>