
<a href="https://www.threads.net/@pinkartwitch">
    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.98612 6.768C5.68237 6.5655 4.67438 5.86575 4.67438 5.86575C5.52488 4.64963 6.6465 4.176 8.19788 4.176C9.29475 4.176 10.2262 4.54387 10.8911 5.2425C11.556 5.94112 11.9351 6.94012 12.0217 8.217C12.3907 8.37225 12.7301 8.55375 13.0399 8.7615C14.2875 9.59963 14.9738 10.854 14.9738 12.2906C14.9738 15.3461 12.4695 18 7.93575 18C4.04325 18 0 15.7354 0 8.99325C0 2.28825 3.91725 0 7.9245 0C9.77625 0 14.1187 0.273375 15.75 5.6655L14.22 6.06262C12.9555 2.22075 10.3084 1.60875 7.88175 1.60875C3.87112 1.60875 1.602 4.05113 1.602 9.2475C1.602 13.9084 4.13775 16.3834 7.93575 16.3834C11.0599 16.3834 13.3886 14.76 13.3886 12.3829C13.3886 10.7651 12.0296 9.99 11.9599 9.99C11.6944 11.3782 10.9834 13.7137 7.86037 13.7137C6.04012 13.7137 4.47075 12.456 4.47075 10.809C4.47075 8.45775 6.70275 7.60613 8.4645 7.60613C9.12375 7.60613 9.92025 7.65112 10.3354 7.73438C10.3354 7.01775 9.72787 5.79037 8.19788 5.79037C6.79163 5.79037 6.43613 6.246 5.985 6.76687L5.98612 6.768ZM8.6805 9.21375C6.3855 9.21375 6.0885 10.1925 6.0885 10.8068C6.0885 11.7945 7.26188 12.1208 7.8885 12.1208C9.036 12.1208 10.2139 11.8035 10.3995 9.39487C9.83623 9.26346 9.25879 9.20262 8.6805 9.21375Z" fill="#E11E6B"/>
    </svg>
        
</a>