---
import SkipToContent from '../components/SkipToContent.astro';
import '../css/config.css'
import Footer from '../components/Footer.astro';
import MainContent from '../components/MainContent.astro';
import Meta from '../components/Meta.astro';
import type { Layout } from './types';
import Header from '../components/Header.astro';


interface Props extends Layout { }

const {
    title,
    description,
	lang,
	class : className
} = Astro.props
---

<html lang={lang} class="">

	<Meta title={title} description={description} />

	<body class:list={['bg-[var(--body-bg-color)] font-base text-[var(--body-text-color)]', className]}>

		<SkipToContent />

		<Header variant='sticky' props />
		
        <MainContent>

            <slot />

        </MainContent>

        <Footer />

		<slot name="pageEnd" />
		
	</body>
</html>


