---
import type { HTMLAttributes } from 'astro/types';
import { CONTACT_LINKS } from '../../config';
import Wrapper from '../Wrapper.astro';
import ContactLink from './ContactLink.astro';


interface Props extends HTMLAttributes<'div'> {

    class? : string

    /**
     * @extends <div>
     * @props slot
     */
    props? : true
}

---

<div class="py-2">
    <Wrapper padding='inline' width='max'>
        <ul>
            { CONTACT_LINKS.map( (link) => ( 
                <ContactLink href={link.path} icon={link.icon}>
                    {link.title}
                </ContactLink>
            ))}
        </ul>
    </Wrapper>
</div>





<style>

div {
    background-color: var(--contact-bar-bg-color);
    color : var(--contact-bar-text-color);
}

ul {
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    column-gap : 1.5rem;
    row-gap: 0.5rem ;
}

</style>


