---
import type { HTMLAttributes } from 'astro/types';
import { PAGES, CTAPath, type Page } from '../../config';
import Button from '../Button.astro';
import Icon from '../Icon.astro';



interface Props extends HTMLAttributes<'a'> {
    
    /** Material icon string for icon */
    icon? : string

    class? : string,

    /**
     * @extends <a>
     * @prop href : string
     * @prop icon : string
     */
    props? : true
}



const {
    icon,
    class : className
} = Astro.props



const cta = PAGES.find(page => page.path === CTAPath) as Page

---


<Button variant="fill-primary" href={cta.path} {icon} class={className}>
    {cta.title}
</Button>



<style>

a {
    background-color: var(--nav-bar-CTA-bg-color);
    color : var(--nav-bar-CTA-text-color) !important;
}

a:hover, a:focus-visible {
    background-color: var(--nav-bar-CTA-bg-color-hover);
    color : var(--nav-bar-CTA-text-color-hover) !important;
}

</style>
