---
import { PAGES } from "../../config";
import NavLink from "./NavLink.astro";
import Image from "../Base/Image.astro";

const totalPages = PAGES.length
---

<ul class="nav-links order-1 lg:order-2 lg:-translate-y-s1">
    { PAGES.map( (page, i: number) => {
        return page.group.includes('header') && (

            <NavLink href={page.path} title={page.title}>{page.title}</NavLink>
            <li>
                {i + 1 !== totalPages && (
                    <Image 
                        src="/img/nav-star.svg" 
                        width={13} 
                        height={13} 
                        alt="" 
                        role="presentation"
                        class="hidden lg:block"
                     /> 
                )}
            </li>

        )
    })}

</ul>

<style is:global>

ul.nav-links {
    display : flex;
    align-items: center;
    gap : 0.1em;
    width : 100%;
    transition: all 350ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

@media screen and (max-width: 1023px) {
        
    ul.nav-links {
        flex-direction: column;         
        overflow: hidden;
        max-height: 0px;
    }
    
    .mobile-menu-is-open ul.nav-links,
    ul.nav-links:has( a:focus ) {
        padding-top : 3rem;
        padding-bottom : 1rem;
        max-height: 1000px;
    }

}

</style>

<script>

window.addEventListener('click', (e: MouseEvent) => {

    if( !(e.target instanceof HTMLElement) ) return

    if(
        document.body.classList.contains('mobile-menu-is-open') && // Mobile menu is open
        !e.target.classList.contains('nav-links') &&               // Target is not nav-links
        !e.target.classList.contains('social-links') &&            // Target is not social-links
        !e.target.classList.contains('nav-icon-open') &&           // Target is not nav menu icon (svg)
        !e.target.classList.contains('mobile-btn-line')            // Target is not nav menu icon (line)
    ) {
        document.body.classList.remove('mobile-menu-is-open')
    }

})

</script>