---
import DeviantArtIcon from "../icons/DeviantArtIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import ThreadsIcon from "../icons/ThreadsIcon.astro";
import TumblrIcon from "../icons/TumblrIcon.astro";


---

<ul class="social-links flex items-center gap-6 social-links justify-center lg:justify-end order-2 lg:order-1">
    <li><InstagramIcon /></li>
    <li><DeviantArtIcon /></li>
    <li><TumblrIcon /></li>
    <li><ThreadsIcon /></li>
</ul>


<style is:global>

ul.social-links {
    transition: all 350ms cubic-bezier(0.34, 1.56, 0.64, 1);
}



@media screen and (max-width: 1023px) {

    .social-links {
        padding-block: 0;
        max-height: 0px;
        overflow: hidden;
    }

    .mobile-menu-is-open .social-links {
        padding-block: 3rem;
        max-height: 1000px;
    }

}

</style>

