---
import type { HTMLAttributes } from 'astro/types';
import Button from '../Base/Button.astro';

interface Props extends HTMLAttributes<'div'> {

    /**
     * @extends <form>
     * @prop slot (Default ; 'Submit')
     */
    props? : true
}
---

<div>

    <Button variant='outline' type="reset">
        Reset
    </Button> 

    <Button type="submit">
        Submit
    </Button> 

</div>




<style>

div {
    display : grid;
    gap : 1rem;
    width : 100%;
    max-width: 600px;
    align-items: center;
}

@media screen and (min-width : 768px) {
    div {
        grid-template-columns: 1fr 2fr;
    }
}

</style>