---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'form'> {

    name : string,
    class? : string,
    /**
     * @prop name - string - Name of form for Netlify UI
     * @prop class - string - form class
     * @prop slot
     */
    props? : true
    
}

const {
    name,
    class : className = ''
} = Astro.props
---

<form id="email-form" method="post" data-netlify="true" name={name} class={className}>

    <slot />

</form>


<style>

form {
    display : grid;
    gap : 2rem;
}
</style>